.select-field {
    .col {
        width: 50%;
        &:not(:last-child) {
            border-right: 1px solid gray;
        }
    }
}

.list-item {
    display: flex;
}

.hidden {
    display: none;
}