.diapason {
    width: 200px;

    &__line {
        position: relative;
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background: gray;
    }

    &__thumb {
        z-index: 1000;
        position: absolute;
        top: -3px;
        width: 3px;
        height: 15px;
        border-radius: 3px;
        background: green;

    }

    .label {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
    }
}
